.button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: $main-color;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  &:hover {
    box-shadow: 3px 3px 20px $main-color;
    border: none;
    cursor: pointer;
  }
  &_main {
    margin-top: 67px;
    width: 300px;
    height: 50px;
    font-size: 16px;
  }
  &_submit {
    width: 100%;
    height: 58px;
    font-size: 16px;
    background: #c70101;
  }
  &_mini {
    width: 135px;
    height: 44px;
    font-size: 14px;
  }
}
