.carousel {
  padding: 81px 0;
  &__inner {
    width: 750px;
    margin: 0 auto;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #ffffff;
    img {
      width: 31px;
      height: 50px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
}
