input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url('../img/backgrounds/bg2.png') center (center/cover) no-repeat;
  &__descr {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    color: red;
    border: none;
    text-align: center;
    margin-bottom: 10px;
  }
}
