.footer {
  height: 630px;
  position: relative;
  margin-bottom: 12px;
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background: $main-color;
    padding: 30px 68px 60px 68px;
  }
  &__addr {
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
  &__phone {
    display: block;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    margin-bottom: 38px;
    &:hover {
      color: #ffffff;
    }
  }
  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 52px;
    background: rgba(0, 0, 0, 0.0001);
    border-radius: 100%;
    margin: 0 15px;
    border: 2px solid #ffffff;
    img {
      height: 27px;
    }
    &:hover {
      box-shadow: 3px 3px 20px #ffffff;
      border: none;
      cursor: pointer;
      border: 2px solid #ffffff;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
