.overlay {
  // display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.56);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background: #f2f2f2;
  padding: 38px 40px 40px 40px;
  &__close {
    position: absolute;
    top: 0;
    right: -40px;
    font-size: 41px;
    line-height: 21px;
    color: $main-color;
    cursor: pointer;
  }
  &__subtitle {
    font-size: 18px;
    text-align: center;
    color: #0d0d0d;
    font-weight: 700;
  }
  &__descr {
    font-size: 14px;
    text-align: center;
    color: #0d0d0d;
    font-weight: 500;
    text-align: center;
  }
  &_mini {
    min-height: 143px;
  }
  .error {
    border: 1px solid red;
  }
  label.error {
    border: none;
    text-align: center;
    margin-bottom: 10px;
  }
}

.overlay,
#consultation,
#order,
#thanks {
  display: none;
}
