.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url('../img/backgrounds/bg.png') center (center/cover) no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;
  }
  &__header {
    font-size: 42px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    line-height: 42px;
  }
  &__subheader {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500px;
    margin-top: 17px;
  }
  &__icons {
    margin-top: 65px;
    width: 420px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 108px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500px;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    margin-top: 15px;
    color: #ffffff;
    a {
      text-transform: uppercase;
      text-decoration: underline;
      color: #ffffff;
    }
  }
}
