.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  &_left {
    font-weight: 700;
    font-size: 36px;
    text-align: left;
    color: #ffffff;
  }
}
